@model MetLife.Annuities.Web.Areas.Advisors.ViewModels.AddClientFinancialViewModel
@{
	Layout = "../Shared/_AdvisorLayout.cshtml";
	ViewBag.Title = "Financial";
	ViewBag.CssClass = "Financial";
}
@section header{
    @Html.Partial("_Header", Model.Header.AdvisorHeaderViewModel)
}

@Html.Partial("_AddClientSteps", Model.Header)
<div id="section-addclient-financial">
	<div class="module">
		<div>
			<form action="/advisors/addclient/financial" autocomplete="off" class="client-form" id="addclient-financial" method="post">
                @Html.Partial("_ClientFinancial", Model.ClientFinancial)
			</form>
		</div>
	</div>
</div>
@section scripts{
    @Html.Partial("_Scripts", "advisors")
}