@model MetLife.Annuities.Web.Areas.Clients.ViewModels.SLSSetupViewModel
@{
    ViewBag.Title = "Setup";
}
@section header{
@Html.Partial("_Header", Model.ClientHeaderViewModel)
}
<div id="section-sls-setup">
	<div class="module">
		<div>
			<h3>Shield Level Selector Options</h3>
			<p class="sls-overview">
				Each Shield Level Selector is a combination of Shield protection level, index and term. Your 
				clients have the flexibility to allocate their purchase payment among one or more Shield 
				Options, plus the Fixed Account.
			</p>
		</div>
	</div>
	<div class="module sls-selector">
		<div>
			<form id="sls-form" autocomplete="off" action="/clients/sls/setup" method="post" data-client-id="@Model.Client.ClientID">
				<div class="sls-options">
					<div class="sls-initial">
						<label>Purchase Payment (Initial Investment):</label>
						<input id="sls-investment" class="sls-investment" type="text" autocomplete="off" value="$@(string.Format("{0:#,##0}", Model.InitialInvestment))" />
					</div>
					<div id="sls-add-another" class="sls-add-another">
						<p class="add-to-hundred">*Your allocation amounts must total 100%.</p>
						<a id="sls-add" class="button-cta" href="#">Add Another Shield Option <span>+</span></a>
					</div>
					<div class="sls-death-benefit pretty-checkboxes">
						<p class="pdb-intro">
							All options come with the <span class="tooltip" data-tooltip="Your beneficiary(ies) will receive your account value.">Standard Death Benefit</span> by default. You may 
							elect for Return of Premium Death Benefit Below.
						</p>
						<input id="sls-pdb" name="sls-pdb" type="checkbox" class="sls-pdb" value="sls-pdb" />
						<label for="sls-pdb">Return of Premium Death Benefit (ROP)</label>
						<p class="pdb-description">
							With the optional Return of Premium Death Benefit<sup>1</sup>, available at contract issue, your beneficiaries 
							will receive at least what you put into the contract if you pass away before starting lifetime income 
							payments. This death benefit pays the greater of your purchase payments, reduced proportionately for 
							withdrawals, or your account value, which is a value we calculate when an account hasn't fully reached 
							its term or a withdrawal is made. If you choose the optional Return of Premium Death Benefit, you will 
							receive a lower Maximum Growth Opportunity or lower Step Rate for the life of the contract. Without the 
							Return of Premium Death Benefit, your beneficiary(ies) will receive your account value.
							<span><sup>1</sup>In order to elect the optional Return of Premium Death Benefit, you must be age 72 or younger at time of purchase.</span>
						</p>
					</div>
				</div>
				<div class="sls-learn">
					<p class="link-title">Learn More about Shield Combinations &amp; indexes <a id="sls-learn-toggle" href="#"></a></p>
					<div id="slsIndexInfo" class="index-info more">
						<p class="index-info-intro">
							You can allocate assets among the different options listed below. Choose one or more than one. 
							Your total allocations must add up to 100%.
						</p>
						<table id="slsIndexInfoTable"></table>
					</div>
				</div>
				<div class="sls-name">
					<label>Name:</label>
					<input id="sls-name" class="sls-name required" type="text" autocomplete="off" placeholder="i.e. &quot;Recommended&quot;" maxlength="30" data-allowed-chars="alpha-numeric" />
					<p id="sls-name-remaining"><span>30</span> characters left</p>
					<div class="save-and-error">
						<button id="form-cancel" class="form-cancel" type="reset"><i></i>Cancel</button>
						<a id="sls-save" class="button-cta" href="#"><i></i>Save</a>
						<p id="sls-error" class="sls-error"></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
@section scripts{
@Html.Partial("_Scripts", "clients")
<script>
    var slsConfig = @Html.Raw(Model.ConfigData);
</script>
}

