@model MetLife.Annuities.Web.Areas.Advisors.ViewModels.EditClientBasicViewModel
@{
	Layout = "../Shared/_AdvisorLayout.cshtml";
	ViewBag.Title = "Basic";
	ViewBag.CssClass = "advisors-editclient";
}

@section header{
    @Html.Partial("_Header", Model.Header.AdvisorHeaderViewModel)
}

@Html.Partial("_EditClientSteps",Model.Header)

<div id="section-addclient-basic">
	<div class="module">
		<div>
			<form action="/advisors/editclient/basic" autocomplete="off" class="client-form" id="form-editclient-basic" method="post">
               @Html.Partial("_ClientBasic", Model.ClientBasicViewModel)
			</form>
		</div>
	</div>
</div>

@section scripts{
    @Html.Partial("_Scripts", "advisors")
}